*{
    margin 0;
    padding: 0;
    box-sizing: border-box; 
    transition: 0.3s;
}
body{
    margin: 0;
    user-select: none;
    color: white;
    background-image: url("gradient.jpeg");
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    background-repeat: no-repeat;
    overscroll-behavior: none;
    width: auto;
    overflow: hidden !important;
    font-family: product;
    height: 100vh;
}
#grad{
        background: radial-gradient(circle at top left, #1e013d, rgba(0, 0, 0, 0.6), #2d0c30, #013d39);
        animation: bc 6.9s infinite alternate ease-in-out;
        background-size: 400%, 400%;
        position: fixed;
        margin: 0;
        top: 0;
        left:0;
        height: 100%;
        z-index: -2;
        width: 100%;
        opacity: 0.7;
}
@keyframes bc{
    from{
        background-position: 100% 0;
    }
    to{
        background-position: 0% 0%;
    }
}
.container{
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 2% 5%;
    border-radius: 25px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 1;
}
h1{
    color: #f8f7a2;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: bolder;
    animation: fadeIn 1s ease-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    animation: bounceIn 1s ease-out;
}
.badge{
    background: rgba(255,255,255,0.2);
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #ddd;
    color: #f8f7a2;
    font-weight: bold;
    margin: 0 10px;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);

}
.badge:hover{
    background: #f8f7a2;
    color: #333;
    border-color: #f8f7a2;
}
.result{
    margin-bottom
}